@use "../variables/variables" as variable;
@use "../mixins/mixins" as mixin;

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	-webkit-appearance: none;
	appearance: none;
}

.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include mixin.button-all-transition;
	background: linear-gradient(to right, variable.$color__background-button, variable.$color__background-button-hover);
	background-size: 200% 100%;
	background-position: 100% 0;
	border: 0;
	border-radius: 30px;
	box-sizing: border-box;
	color: variable.$color__text-button;
	font-weight: 500;
	font-size: 1.125em;
	line-height: 1.6;
	padding: (variable.$size__spacing-unit * 0.625) variable.$size__spacing-unit;
	text-decoration: none;
	vertical-align: bottom;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5) inset, 0 0 0 2px rgba(0, 0, 0, 0.15);
	text-shadow: 0 0 1px #000;

	&:hover {
		background-position: 0% 0;
		color: variable.$color__text-button;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5) inset, 0 0 0 2px rgba(0, 0, 0, 0.15);
	}

	&:visited {
		color: variable.$color__text-button;
		text-decoration: none;
	}

	&:focus {
		//background: variable.$color__background-button-hover;
		background-position: 0% 0;
		box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5) inset, 0 0 0 2px rgba(0, 0, 0, 0.15);
		outline: thin dotted;
		outline-offset: -4px;
	}
}
