<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <title>入力内容の検証</title>
    {% include '/assets/bootstrap.min.css.twig' %}
    {% include '/assets/bootstrap.min.js.twig' %}
  </head>
  <body class="bg-light py-5 px-3">
    <div class="container shadow-sm bg-white border rounded px-4 px-md-5 py-4" style="max-width: 720px">
      <div class="row">
        <div class="col">
          <h1 class="h4">入力内容の検証</h1>
          <p class="text-muted" style="font-size:0.875rem">下記をご確認の上、内容の修正をお願いいたします。</p>
          <div class="px-3 pt-4 pb-2 text-sm-center text-danger border-top border-bottom border-danger" style="font-size:0.875rem">
            {% for message in Messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </div>
          <div class="d-grid gap-2 col-10 col-sm-6 mt-3 mx-auto">
            <button onClick="history.back()" class="btn btn-danger">
              編集に戻る
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
