.overlay-layer {
	display: none; /* none -> flex */
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
	
	&.on-opened {
		display: flex;
		animation: activeOverlayMotion 130ms ease 0s 1 alternate both;
	}	
}

.overlay-contain {
	position: relative;
	box-sizing: border-box;
	padding-top: 40px; /* =.close-btn height */
	max-width: 720px;
	width: 100%;
	max-height: 100%;
	color: #333;
	background: #fff;
	
	.overlay-contain-inner {
		box-sizing: border-box;
		max-height: 75vh;
		height: 100%;
		padding: 1em 1.5em 0;
		overflow-y: auto;
		
		/* Fix: overflow-y to padding-bottom */
		&::after {
			content: "";
			display: block;
			height: 1em;  /* padding-bottom size */
		}		
	}	
}

.overlay-background {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.9;
}

/* Close Button */
.close-btn {
    display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	height: 40px;  /* =.overlay-contain padding-top */
    padding: 0.25em 1em 0;
	text-align: center;
    border-bottom: 1px solid #ddd;
    color: #666;
	background: #ddd;
    transition: background 130ms ease-in-out;	
    cursor: pointer;
    z-index: 1;
	
	&:hover,
	&:focus {
		background: #ccc;
	}	
}

.close-symbol {
	display: inline-block;
	vertical-align: middle;
    width: 20px;
    height: 24px;
	margin-right: 0.5em;
	
	> div {
    	position: relative;
		
		> span {
    		display: block;
    		position: absolute;
    		height: 1px;
    		width: 100%;
    		background: #999;
    		left: 0;
			
			&:nth-child(1) {
				top: 11px;
				transform: rotate(315deg);
			}
			&:nth-child(2) {
				width: 0;
				left: 50%;
			}
			&:nth-child(3) {
				top: 11px;
				transform: rotate(-315deg);
			}			
		}	
	}
}
