.custom-header {
	position: relative;
	overflow: hidden;
	background: {
		image: url("../images/header.jpg");
		position: 50% 50%;
		size: cover;
	}
	box-sizing: border-box;
	padding-bottom: 100%;
	min-height: 600px;

	@include media(tablet) {
		padding-bottom: 75%;
	}
	@include media(desktop) {
		padding-bottom: 50%;
	}
	@include media(wide) {
		padding-bottom: 0;
		min-height: 800px;
	}
	
	&__hero {
		position: absolute;
		left: 50%;
		top: 40%;
		width: 100%;
		z-index: 1;
		transform: translate(-50%, -50%);
		text-align: center;

		&__title {
			margin: 0 0 1rem;
			color: #fff;
			font-size: 1.325rem;
			font-weight: 900;
			letter-spacing: -0.02em;

			@include media(mobile) {
				font-size: 2rem;
			}
			@include media(tablet) {
				font-size: 3rem;
			}

			small {
				display: block;
				font-size: 0.75em;
				color: #ffaa55;
				margin: 0 0 0.25rem;
			}
		}
		
		&__description {
			color: #f1f1f1;
			font-size: 0.75rem;

			@include media(mobile) {
				font-size: 0.875rem;
			}
		}

		&__button {
			margin-top: 2rem;

			.button {
				.bi {
					margin: 0 0.125em 0.25em 0;
					width: 1.125em;
					height: 1.125em;
					filter: drop-shadow(0 0 1px #000);
				}
			}
		}

		&__phpver {
			margin-top: 0.5rem;
			color: #eee;
			text-shadow: 0 0 3px #000;
			font-family: $font__code;
			font-size: $font__size-sm;
			font-weight: 400;
		}
	}
}
