.custom-header {
	position: relative;
	overflow: hidden;
	background: {
		image: url("../images/header.jpg");
		position: 50% 50%;
		size: cover;
	}
	padding-bottom: 100%;

	@include media(tablet) {
		padding: 0;
		height: 600px;
	}
	
	&__hero {
		position: absolute;
		left: 50%;
		top: 40%;
		width: 100%;
		z-index: 1;
		transform: translate(-50%, -50%);
		text-align: center;

		&__title {
			margin: 0;
			color: #fff;
			font-size: 2.5rem;
			font-weight: 900;
			letter-spacing: -0.02em;
			
			@include media(tablet) {
				font-size: 3rem;
			}
		}
		
		&__description {
			color: #fff;
			font-size: 1rem;

			@include media(tablet) {
				font-size: 1.5rem;
			}
		}
		
		.button {
			font-size: 1.125rem;
			letter-spacing: 0.02em;
		}

		&__phpver {
			color: #eee;
			margin-top: 0.25rem;
			text-shadow: 0 0 3px #000;
		}
	}
}
