.site-header {
	
	.wrap {
		padding: 0 0 0 1rem;
		
		@include media(tablet) {
			padding: 0 1rem 0 2rem;
			max-width: 100%;
		}
	}
	
	.site-header-contain {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include media(tablet) {
			padding: 0.25rem 0;
		}

		//.site-branding {}

		//.navigation-top {}
	}
}
