
.site-branding {

	.custom-logo-link {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		
		a:hover,
		a:focus {
			opacity: 0.9;
		}
		
		img {
			display: inline-block;
			vertical-align: bottom;
			max-height: 30px;
			width: auto;
			
			@include media(desktop) {
				max-height: 40px;
			}		
		}
	}
	
	.site-title {
		display: inline-block;
		clear: none;
		font-size: 1.325rem;
		font-weight: 400;
		line-height: 1.25;
		letter-spacing: 0.02em;
		margin: 0;
		padding: 0;
		color: inherit;

		a {
			color: inherit;
			opacity: 1;
		}
	}
}
