
.site-branding {
	padding: 0.25em 1em;
	
	@include media(desktop) {
		padding: 0.5em 0;
	}

	.custom-logo-link {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		
		a:hover,
		a:focus {
			opacity: 0.9;
		}
		
		img {
			display: inline-block;
			vertical-align: bottom;
			max-height: 30px;
			width: auto;
			
			@include media(desktop) {
				max-height: 40px;
			}		
		}
	}
	
	a {
		text-decoration: none;
		transition: opacity 0.2s;

		&:hover,
		&:focus {
			opacity: 0.7;
		}
	}
	
	.site-branding-text {
		display: inline-block;
		vertical-align: middle;
		color: #212121;

		.site-title {
			display: inline-block;
			clear: none;
			font-size: 1rem;
			font-weight: 500;
			line-height: 1.25;
			letter-spacing: 0.08em;
			margin: 0;
			padding: 0;
			color: inherit;

			a {
				color: inherit;
				opacity: 1;
			}
		}
	}	
}

.title-tagline-hidden .site-title {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}
