
### バリデーションの言語設定 ###
VALIDATION_LANG='ja'

### サイト名 ###
FROM_SITE_NAME='Site Name'

### 管理者への通知[TO] ###
ADMIN_MAIL='hello@example.com'

### CC/BCCの設定(任意) ###
# カンマ区切りで複数指定可
ADMIN_CC=''
ADMIN_BCC=''

### 予備の通知先[TO](任意) ###
# このメールアドレスには通常は送信されません。次の理由で利用されます。
# 管理者へのメール通知の送信に失敗した時に、この予備の送信先への通知を試みます。
# 失敗の要因はメールサーバーのIPブロックや、スパムデーターベースの登録等の
# 予期しない何らかの理由で失敗した場合、メール内容が消失するのを避けるために、
# 別のサーバーで利用されているメールアドレスを設定してください。
RESERVE_TO=''

### メールサーバーの情報 ###

# SMTPホスト
SMTP_HOST='smtp.example.com'

# SMTPメールアドレス
SMTP_MAIL='mail@example.com'

# SMTPメールユーザー名(アカウント名)
SMTP_USERNAME='mail@example.com'

# SMTPパスワード
SMTP_PASSWORD='password'

# SMTP暗号化 ssl or tls
SMTP_ENCRYPTION='ssl'

# SMTPポート番号 465(ssl) or 587(tls)
SMTP_PORT='465'

### Mailerを選択 ###
# PHPMailer(default) or WordPress
MAILER_TYPE='PHPMailer'

### DBを選択 ###
# SQLite or MySQL or None
DB_CONNECTION='SQLite'

### DBサーバーの情報 ###
DB_HOST=''
DB_DATABASE='repository.sqlite'
DB_USERNAME=''
DB_PASSWORD=''
DB_PREFIX='me_'
DB_CHARSET=''
DB_COLLATION=''

### タイムゾーンの設定 ###
TIME_ZONE='asia/tokyo'

### デバックモード ###
MAILER_DEBUG='false'
