
### バリデーションの言語設定 ###########################

VALIDATION_LANG='ja'

### サイト名 ########################################

FROM_SITE_NAME='Site Name'

### 管理者へのTOの通知 ###############################

ADMIN_MAIL='your@example.com'

### 管理者へのCCの設定(任意) ##########################
# カンマ区切りで複数指定可

ADMIN_CC=''

### 管理者へのBCCの設定(任意) #########################
# カンマ区切りで複数指定可
# 次のSMTPで設定するメールアドレスを含めるのを推奨します。それは、
# 予期しない理由で相手にブロックされた場合にも自身に送信内容を残します。

ADMIN_BCC=''

### メールサーバーの情報 ##############################
# SMTP専用のメールアドレスを用意してください。
# 通常の使用は避けるべきです。

SMTP_HOST='smtp.example.jp'
SMTP_MAIL='your@example.com'
SMTP_USERNAME='your@example.com'
SMTP_PASSWORD='password'
SMTP_ENCRYPTION='ssl'
SMTP_PORT='465'

### Mailerを選択 ####################################
# PHPMailer(default) or WordPress

MAILER_TYPE='PHPMailer'

### DBを選択(任意) ###################################
# SQLite or MySQL or None

DB_CONNECTION='SQLite'
DB_HOST='localhost'
DB_DATABASE='repository.sqlite'
DB_USERNAME='test'
DB_PASSWORD='test'
DB_PREFIX='me_'
DB_CHARSET='utf8'
DB_COLLATION='utf8_general_ci'

### タイムゾーンの設定 ################################

TIME_ZONE='asia/tokyo'

### レポート(任意) #########################################
# CRONの設定が必要です。

REPORT_CRON='weekly'

### デバックモード ####################################

DEBUG=true
