### バリデーションの言語設定 ###
VALIDATION_LANG='ja'

### サイト名 ###
FROM_SITE_NAME='Site Name'

### 管理者への送信 ###
ADMIN_MAIL='hello@example.com'

### CC/BCC(任意) ###
# カンマ区切りで複数指定可
ADMIN_CC=''
ADMIN_BCC=''

### メールサーバーの情報 ###
SMTP_HOST='smtp.example.com'
SMTP_MAIL='mail@example.com'
SMTP_USERNAME='mail@example.com'
SMTP_PASSWORD='password'
SMTP_ENCRYPTION='STARTTLS'
SMTP_PORT='587'

### Mailerを選択 ###
# PHPMailer(default) or WordPress
MAILER_TYPE='PHPMailer'

### DBを選択(任意) ###
# SQLite or MySQL or None(default)
DB_CONNECTION='SQLite'

### DBサーバーの情報 ###
DB_HOST=''
DB_DATABASE='repository.sqlite'
DB_USERNAME=''
DB_PASSWORD=''
DB_PREFIX='me_'
DB_CHARSET=''
DB_COLLATION=''

### タイムゾーンの設定 ###
TIME_ZONE='asia/tokyo'

### デバックモード ###
MAILER_DEBUG='false'
