
/* Contact */
.contact-section {
	position: relative;
	z-index: 1;
	padding: 0 0 3rem;
	margin-top: -5rem;

	@include media(tablet) {
		padding: 0rem 0 5rem;
		margin-top: -8rem;
	}

	.contact-header {
		background: linear-gradient(45deg, #a24bcf, #3f67b1, #41aeb8);
		background-attachment: fixed;
		padding: 3rem 2rem;
		box-shadow: 0 -2px 8px 1px #000;
		border-radius: 10px 10px 0 0;

		&__title {
			color: $color__text-main;
			text-align: center;
		}
		
		&__description {
			text-align: center;
		}
		
		&__summary {
			text-align: left;
			background: rgba(255,255,255,0.1);
			border-radius: 5px;
			padding: 1rem 1rem 0.5rem;
			margin: 0 auto 1rem;
			max-width: 600px;
			font-size: 0.875rem;
	
			@include media(tablet) {
				text-align: center;
			}
			
			> p {
				margin: 0;
				
				> strong {
					color: #f0bb1e;
					font-weight: 400;
					font-size: 2rem;
					letter-spacing: -0.05em;
					white-space: nowrap;
				}
			}
		}
	}

	.contact-form {
		background: #fafafa;
		color: #212121;
		border-radius: 0 0 10px 10px;
		box-shadow: 0 2px 8px 1px #000;
		
		&__list {
			margin: 0;

			&__item {
				display: table;
				list-style: none;
				width: 100%;
				border-top: dotted 1px #ddd;
				padding: 0.75rem 1rem;
				font-size: 1rem;

				@include media(tablet) {
					padding: 0.75rem 2rem;
				}

				&:first-child {
					border-top: none;
				}

				p:last-child {
					font-size: 0.75rem;
					margin: 0;
				}

				a {
					color: #0c67a1;
				}

				.label,
				> label[for] {
					width: 100%;
					color: inherit;
					margin-bottom: 0.5rem;
					font-size: 0.875rem;

					@include media(tablet) {
						display: table-cell;
						vertical-align: middle;
						width: 240px;
						margin-bottom: 0;
						font-size: 1rem;
					}
				}

				input,
				select,
				textarea {

					@include media(tablet) {
						display: table-cell;
						vertical-align: middle;
					}
				}
			}
		}
	}
	
	.submit-button {
		clear: both;
		text-align: center;
		padding: 0.5rem 0 2rem;
	}

	.validate {
		font-size: 10px;
		color: #fff;
		background: #994142;
		border-radius: 5px;	
		padding: 0.325em 0.5em 0.25em;
		margin-left: 0.5rem;
		vertical-align: middle;
	}
	
	.novalidate {
		font-size: 10px;
		color: #aaa;
		background: #eee;
		border-radius: 5px;
		padding: 0.325em 0.5em 0.25em;
		margin-left: 0.5rem;
		vertical-align: middle;
	}
}

.license-section {
	padding: 0 1rem;

	.license-header {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-bottom: 1.5rem;
		
		&::before,
		&::after {
			display: block;
			content: '';
			border-top: solid 1px #bbb;
			width: 40px;
			height: 1px;
		}

		&__title {
			margin: 0 1rem;
		}
	}

	.license-content {
		@include media(tablet) {
			padding: 0 1rem;
		}
	}
}

.document-section {
	padding: 5rem 0;
	text-align: center;

	.document-header {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-bottom: 1.5rem;
		
		&::before,
		&::after {
			display: block;
			content: '';
			border-top: solid 1px #bbb;
			width: 40px;
			height: 1px;
		}

		&__title {
			margin: 0 1rem;
		}
	}

	.document-content {
		p {
			margin: 1.5rem 0;
		}
	}
}
