/**/
.page-section {

	.page-header{
		text-align: center;
		margin: ($size__spacing-unit * 3) 0;

		.page-title {
			@include post-section-solid();
		}

		.page-summary {
			font-size: $font__size-sm;
		}
	}

	.page-content {
		margin-bottom: ($size__spacing-unit * 3);
	}
}
