@use "../../variables/variables" as variable;
@use "../../mixins/mixins" as mixin;

.page-section {

	.page-header{
		text-align: center;
		margin: (variable.$size__spacing-unit * 5) 0;

		//.page-title {}

		.page-summary {
			font-size: variable.$font__size-sm;
		}
	}

	.page-content {
		margin-bottom: (variable.$size__spacing-unit * 5);
	}
}
