label {
	color: #333;
	display: block;
	font-weight: 300;
}

fieldset {
	margin-bottom: 1em;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	display: block;
	color: #666;
	background: #fff;
	border: 1px solid #bbb;
	border-radius: 3px;
	padding: 0.7em;
	width: 100%;
	
	&:focus {
		color: #222;
		border-color: #333;
	}
}

select {
	cursor: pointer;
	border: 1px solid #bbb;
	border-radius: 3px;
	height: 3em;
	max-width: 100%;
	z-index: 1;

	> option {
		text-align: center;
	}
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: 0.5em;
 
	+ label {
		font-weight: 400;
	}
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: linear-gradient(to right, $color__link, $color__link-hover );
	border: 0;
	border-radius: 30px;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	font-weight: 800;
	line-height: 1;
	padding: 0.875em 1.75em;
	white-space: nowrap;
	text-shadow: none;
	z-index: 1;
	transition: opacity 300ms ease;

	&:hover,
	&:focus {
		opacity: 0.66;
		color: #fff;
		box-shadow: none;
	}
}

input {
	+ button,
	+ input[type="button"],
	+ input[type="submit"] {
		padding: 0.75em 2em;
	}
}

/**
 * ボタンデザイン
 */
.button-wrap {
	display: inline-block;
	background: #212121;
	border-radius: 30px;
	box-shadow: 0 0 0 1px #000, 0 0 5px rgba(0,0,0,0.5);
}

/**
 * チェックボックスデザイン
 */
input[type="checkbox"].styled-checkbox {
	position: absolute; // take it out of document flow
	opacity: 0; // hide it

	& + label {
		position: relative;
		cursor: pointer;
		padding: 0;
	}

	// Box.
	& + label:before {
		content: '';
		margin-right: 0.5em;
		display: inline-block;
		vertical-align: text-top;
		width: 20px;
		height: 20px;
		background: white;
		border: solid 1px #bbb;
		border-radius: 3px;
		transition: background 80ms ease-in;
	}

	// Box hover
	&:hover + label:before {
		background: #8b0002;
	}
	
	// Box focus
	&:focus + label:before {
		box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	}

	// Box checked
	&:checked + label:before {
		background: #8b0002;
	}
	
	// Disabled state label.
	&:disabled + label {
		color: #b8b8b8;
		cursor: auto;
	}

	// Disabled box.
	&:disabled + label:before {
		box-shadow: none;
		background: #ddd;
	}

	// Checkmark. Could be replaced with an image
	&:checked + label:after {
		content: '';
		position: absolute;
		left: 5px;
		top: 10px;
		background: white;
		width: 2px;
		height: 2px;
		box-shadow: 
			2px 0 0 white,
			3px 0 0 white,
			4px 0 0 white,
			4px -1px 0 white,
			4px -2px 0 white,
			4px -3px 0 white,
			4px -4px 0 white,
			4px -5px 0 white,
			4px -6px 0 white,
			4px -7px 0 white,
			4px -8px 0 white;
		transform: rotate(45deg);
	}
}

/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #ddd;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

:-moz-placeholder {
	color: #ddd;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

::-moz-placeholder {
	color: #ddd;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: #ddd;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

input:-ms-input-placeholder {
	color: #ddd;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}

::placeholder {
	color: #ddd;
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
}


/* HTML5 Form Required */
:required {
	border: none;
	outline: none;
	box-shadow: none;
}

.js__error--message {
	position: fixed;
	z-index: 99;
	right: 5px;
	bottom: 5px;
	color: #fff;
	background: #9D6162;
	border: solid 1px #6E0E10;
	border-radius: 5px;
	padding: 0.5em 1em;
	font-size: 0.75rem;
	opacity: 0;
	transition: opacity 200ms ease;

	ul {
		margin: 0;
		padding: 0;
		
		li {
			list-style: none;
			margin: 0.5em 0;
			
			&::before {
				content: '\30FB';
				display: inline-block;
				margin-right: 0.5em;
				opacity: 0.5;
			}			
		}
	}
}

input.js__error--field,
textarea.js__error--field {
	box-shadow: 0px 0px 0px 3px rgba(157,97,98,0.25);
}

// チャックデザイン
.cheack-group {
	display: flex;
	align-items: center;
	
	label > small {
		display: block;
	}

	input[type="radio"] {
		position: absolute;
		opacity: 0;
		z-index: -1;

		& + label {
			flex: 1;
			box-sizing: border-box;
			cursor: pointer;
			position: relative;
			padding: 0.5em 0em 0.5em 3em;
			margin: 0 1px;
			background: #eee;
			color: #777;
			white-space: nowrap;
			line-height: 1.6;
			font-weight: 900;
			font-size: 0.875rem;
			transition: background 80ms ease-in;

			@include media(mobile) {
				flex: 0 1 auto;
				padding: 0.5em 2em 0.5em 3.5em;
				font-size: 1rem;
			}
			@include media(tablet) {
				padding: 0.5em 3em 0.5em 4em;
			}
			@include media(desktop) {
				padding: 0.5em 3em 0.5em 4.5em;
			}
		}

		// Box.
		& + label::before {
			display: block;
			content: '';
			position: absolute;
			left: 1rem;
			top: calc(50% - 20px / 2);
			vertical-align: text-top;
			width: 20px;
			height: 20px;
			background: #bbb;
			border: solid 1px #eee;
			border-radius: 100%;
			
			@include media(tablet) {
				left: 2rem;
			}
		}

		// Box hover
		&:hover + label {
			color: #fff;

			&[for="CustomerSubject-1"] {
				background: #41465c;
			}
			&[for="CustomerSubject-2"] {
				background: #415C56;
			}
		}
 
		// Box focus
		&:focus + label {
			box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
		}

		// Checked box.
		&:hover + label:before,
		&:focus + label:before,
		&:checked + label:before {
			background: rgba(0,0,0,0.5);
		}
		
		// Checked box state label.
		&:checked + label {
			color: #fff;

			&[for="CustomerSubject-1"] {
				background: #41465c;
			}
			&[for="CustomerSubject-2"] {
				background: #415C56;
			}
		}

		// Disabled state label.
		&:disabled + label {
			color: #b8b8b8;
			cursor: auto;
		}

		// Disabled box.
		&:disabled + label:before {
			box-shadow: none;
			background: #ddd;
		}

		// Checkmark. Could be replaced with an image
		&:checked + label:after {
			content: '';
			position: absolute;
			left: calc(5px + 1rem);
			top: calc(8px + 50% - 18px / 2);
			background: white;
			width: 2px;
			height: 2px;
			box-shadow: 
				2px 0 0 white,
				3px 0 0 white,
				4px 0 0 white,
				4px -1px 0 white,
				4px -2px 0 white,
				4px -3px 0 white,
				4px -4px 0 white,
				4px -5px 0 white,
				4px -6px 0 white,
				4px -7px 0 white,
				4px -8px 0 white;
			transform: rotate(45deg);
			
			@include media(tablet) {
				left: calc(5px + 2rem);
			}
		}
	}
}