<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='robots' content='noindex,nofollow' />
<title>無効なリクエスト</title>
<style>
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background: #f1f1f1;
}
h1 {
  clear: both;
  font: 16px "Open Sans", sans-serif;
  line-height: 2;
  margin: 0.67em 0;
  padding-bottom: 0.25em;
  color: #666;
  border-bottom: 1px solid #dadada;
  text-align: center;
}
p {
  margin: 1rem 0 0;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
.page {
  background: #fff;
  color: #444;
  margin: 2em 1em;
  padding: 1em 2em 2em;
  max-width: 680px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.13);
}
@media screen and (min-width:768px) {   
  .page {
      margin: 2em auto;
  }
}
</style>
</head>
<body>
  <div id="exception" class="page">
    <h1>無効なリクエスト</h1>
    <p>{{theExceptionMassage}}</p>
  </div>
</body>
</html>