# Mail
FROM_NAME='Site name'
ADMIN_MAIL='hello@example.com'
ADMIN_NAME='Your name'

# SMTP Server
SMTP_HOST='mail.example.com'
SMTP_MAIL='mail@example.com'
SMTP_USERNAME='mail@example.com'
SMTP_PASSWORD='password'
SMTP_ENCRYPTION='STARTTLS'
SMTP_PORT='587'

# Other
TIME_ZONE='asia/tokyo'
