<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='robots' content='noindex,nofollow' />
<title>入力内容の検証</title>
{% include 'style.twig' %}
</head>
<body>
  <div id="validate" class="page">
    <div class="wrap">
        <h1>入力内容の検証</h1>
        <p>下記をご確認の上「前画面に戻る」ボタンにて修正をお願いします。</p>
        <div class="validate-message">
          {{theValidateMassage|raw}}
        </div>
        <div class="btn-group">
          <button class="btn btn-lg btn-danger" onClick="history.back()">前画面に戻る</button>
        </div>
    </div>
  </div>
</body>
</html>