.site-footer {
	&__branding {
		font-family: $font__heading;
		font-size: 1.5rem;
		font-weight: 500;
		white-space: nowrap;
		letter-spacing: -0.02em;
		text-align: center;

		@include media(tablet) {
			font-size: 2rem;
		}

		&__link {

			&:hover,
			&:focus {
				box-shadow: none;
			}
		}
	}

	&__copyright {
		clear: both;
		color: #fff;
		font-family: $font__heading;
		text-align: center;
		font-size: 0.875rem;
		margin: 3rem 0;

		p {
			margin: 0;
		}
	}
}
