.site-footer {

	&__endleaf {
		padding: 0 0 3rem;

		&__branding {
			margin-bottom: 0.5rem;
			font-size: 1.5rem;
			font-family: $font__heading;
			text-align: center;

			@include media(tablet) {
				margin: 0;
			}

			&__link {
				display: inline-block;
			}
		}
	}

	&__info {
		clear: both;
		color: #fff;
		text-align: center;
		font-size: 0.75rem;
		padding: 0 0 1.5rem;
		
		p {
			margin: 0;
		}
	}
}
