<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='robots' content='noindex,nofollow' />
<title>完了画面</title>
{% include 'style.twig' %}
</head>
<body>
  <div id="complete" class="page">
    <div class="wrap">
      <h1>送信完了</h1>
      <p style="font-size: 100%; text-align: center;">メッセージを送信しました</p>
      <div class="btn-group">
        <a href="{{theReturnURL}}" class="btn btn-default">ページに戻る</a>
      </div>
    </div>
  </div>
</body>
</html>