<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='robots' content='noindex,nofollow' />
<title>確認画面</title>
{% include 'style.twig' %}
</head>
<body>
  <div id="confirmation" class="page">
    <div class="wrap">
      <h1>確認画面</h1>
      <p>以下の内容でお間違いなければ、「送信する」ボタンを押してください。</p>
      <form action="{{theActionURL}}" method="POST">
        {{theConfirm|raw}}
        <div class="btn-group">
          <input type="submit" value="送信する" class="btn btn-lg btn-primary">
          <input type="button" value="キャンセル" class="btn btn-lg btn-default" onClick="history.back()">
        </div>
      </form>
    </div>
  </div>
</body>
</html>