# Site
FROM_SITE_NAME='Site Name'

# Send to Admin
ADMIN_NAME='Your Name'
ADMIN_MAIL='hello@example.com'
ADMIN_BCC=''

# SMTP Server
SMTP_HOST='smtp.example.com'
SMTP_MAIL='mail@example.com'
SMTP_USERNAME='mail@example.com'
SMTP_PASSWORD='password'
SMTP_ENCRYPTION='STARTTLS'
SMTP_PORT='587'

# Setting
TIME_ZONE='asia/tokyo'

# Debug Mode
MAILER_DEBUG='false'
