<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <title>
      HEALTH CHECK - 3{% if sectionTitle %} - {{ sectionTitle }}{% endif %}
    </title>
    {% include '/styles/bootstrap.min.twig' %}
  </head>
  <body class="bg-light">
    <div class="container-fluid mt-5 mb-3">
      <div class="row">
        <div class="col">
          <h1 class="h5 text-center fw-lighter">HEALTH CHECK</h1>
        </div>
      </div>
    </div>

    <div class="container mb-5" style="max-width: 720px">
      <div class="row justify-content-center mb-4">
        <div class="col-8">
          <div class="position-relative m-4">
            <div class="progress" style="height: 1px">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 100%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <button
              type="button"
              class="
                position-absolute
                top-0
                start-0
                translate-middle
                btn btn-sm btn-primary
                shadow-none
                rounded-pill
                fw-lighter
              "
              style="width: 2rem; height: 2rem"
            >
              1
            </button>
            <button
              type="button"
              class="
                position-absolute
                top-0
                start-50
                translate-middle
                btn btn-sm btn-primary
                shadow-none
                rounded-pill
                fw-lighter
              "
              style="width: 2rem; height: 2rem"
            >
              2
            </button>
            <button
              type="button"
              class="
                position-absolute
                top-0
                start-100
                translate-middle
                btn btn-sm btn-primary
                shadow-none
                rounded-pill
                fw-lighter
              "
              style="width: 2rem; height: 2rem"
            >
              3
            </button>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <div class="card">
            <div class="card-header text-center">{{ sectionTitle }}</div>
            <div class="card-body py-sm-4 px-sm-5">
              <div
                class="
                  row
                  g-1
                  justify-content-center
                  align-items-center
                  mb-3
                  pe-4
                  fw-bold
                  text-center text-success
                "
              >
                <div class="col-auto">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    class="bi bi-check2-circle"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"
                    />
                    <path
                      d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"
                    />
                  </svg>
                </div>
                <div class="col-auto">Good Job!</div>
              </div>
              <p class="card-text">{{ sectionDescription }}</p>

              <div class="table-responsive">
                <table class="table my-0">
                  <caption>
                    List of test items
                  </caption>
                  <thead class="table-light">
                    <tr>
                      <th>#</th>
                      <th>検証内容</th>
                      <th>結果</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th>1</th>
                      <td>SMTPでのメール送信</td>
                      <td>Succeed</td>
                    </tr>
                    <tr>
                      <th>2</th>
                      <td>PHPのバージョンがver7.4以上</td>
                      <td>Succeed</td>
                    </tr>
                    <tr>
                      <th>3</th>
                      <td>HTTPSで暗号化されたサイト</td>
                      <td>True</td>
                    </tr>
                    <tr>
                      <th>4</th>
                      <td>SSL/TLSで暗号化されたメール送信</td>
                      <td>True</td>
                    </tr>
                    <tr>
                      <th>5</th>
                      <td>データベースにテーブルを新規作成</td>
                      <td>Succeed</td>
                    </tr>
                    <tr>
                      <th>6</th>
                      <td>データベースに履歴を保存</td>
                      <td>Succeed</td>
                    </tr>
                    <tr>
                      <th>7</th>
                      <td>
                        デバッグモード<br /><small class="text-secondary"
                          >製品ではFalseにしてください。</small
                        >
                      </td>
                      <td>True</td>
                    </tr>
                    <tr>
                      <th>8</th>
                      <td>ー</td>
                      <td>ー</td>
                    </tr>
                    <tr>
                      <th>9</th>
                      <td>ー</td>
                      <td>ー</td>
                    </tr>
                    <tr>
                      <th>10</th>
                      <td>ー</td>
                      <td>ー</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
